@import "~@angular/material/theming";
.title {
  text-transform: uppercase;
}

mat-card {
  height: 90%;
}

mat-card-content {
  height: 70%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.buttons {
  align-content: flex-end;
}
.isActive {
  @include mat-elevation(20, #e91e1ebd);
}

.center {
  text-align: center;
  margin-bottom: 10px;
}
