.title {
  text-transform: uppercase;
}

.card-container {
  padding: 0px;
  width: 100%;
  height: 100%;
}

mat-card-content {
  height: 70%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.buttons {
  align-content: flex-end;
}

.title-container {
  padding-top: 15px;
  text-align: center;
}

.subtitle {
  color: #666666;
}
