@import '~@angular/material/theming';
.title {
  text-transform: uppercase;
}
.mat-card {
  min-height: 100px;
  max-width: 150px;
  width: auto;
}
.isActive{
  @include mat-elevation(15, #e91e1ebd);
}
