<mat-card
  [ngClass]="{ isActive: (player$ | async).isActive }"
  fxLayout="column"
>
  <mat-card-header fxFlex="20">
    <mat-card-title class="title">
      <h3>{{ (player$ | async).color }}</h3>
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{ playerName }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content
    fxFlex="80"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div fxFlex="5" *ngIf="(gameStatus$ | async) === 'battle'">
      <div *ngIf="(player$ | async).isActive; else waiting" class="center">
        <p [ngPlural]="actionsPerTurn - (player$ | async).actionCount">
          <ng-template ngPluralCase="=1"
            >{{ actionsPerTurn - (player$ | async).actionCount }} action
            left</ng-template
          >
          <ng-template ngPluralCase="other"
            >{{ actionsPerTurn - (player$ | async).actionCount }} actions
            left</ng-template
          >
        </p>
      </div>
      <ng-template #waiting>
        <p class="center">Waiting</p>
      </ng-template>
    </div>
    <div fxFlex class="container">
      <app-unit-board
        class="container"
        [player$]="player$"
        [isOpponent]="isOpponent"
      ></app-unit-board>
    </div>
  </mat-card-content>
</mat-card>
