.unit-img {
  height: 100%;
  width: auto;
  background-image: var(--img);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mat-icon-button.small {
  width: 1.8vmax;
  height: 1.8vmax;
  line-height: 1.8vmax;

  .mat-icon {
    font-size: 1.8vmax;
    width: 1.8vmax;
    height: 1.8vmax;
    line-height: 1.8vmax;
  }
}
.mat-divider {
  margin-top: 20px;
  border-top-color: black;
  height: 20px;
  width: 45px;
}

.stats-icon {
  font-size: calc(1.1rem + 0.5vmin);
  width: calc(1.1rem + 0.5vmin);
  height: calc(1.1rem + 0.5vmin);
  line-height: calc(1.1rem + 0.5vmin);
  position: relative;
  top: calc(0.25rem + 0.1vmin);
}

.stats {
  padding-right: calc(0.25rem + 0.1vmin);
  padding-left: calc(0.5rem + 0.2vmin);
}


.death-count {
  margin-bottom: 8px;
}

#cross {
  font-size: 23px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  position: relative;
  top: 5px;
}
