<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-evenly center" class="container">
    <div
      *ngFor="let unitType of unitTypes; let i = index"
      fxFlex="20"
      (mouseover)="mouseOvers[i] = true"
      (mouseout)="mouseOvers[i] = false"
      class="container"
    >
      <div fxFlexLayout="row" class="container">
        <!--------------------- Units --------------------->
        <div
          fxFlex="65"
          fxLayout="column"
          fxLayoutAlign="end center"
          fxFlexAlign="center"
          class="container"
        >
          <div
            class="container"
            fxFlexLayout="row"
            fxLayoutAlign="center center"
          >
            <div
              fxFlex
              dir="rtl"
              *ngIf="(gameStatus$ | async) === 'unit creation'"
            >
              <button
                mat-icon-button
                class="small"
                (click)="removeUnit(unitType)"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div
              fxFlex="grow"
              class="unit-img"
              style="--img: url(assets/img/black_{{ unitType }}.png);"
            ></div>
            <div fxFlex *ngIf="(gameStatus$ | async) === 'unit creation'">
              <button mat-icon-button class="small" (click)="addUnit(unitType)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!--------------------- Stats --------------------->
        <div fxFlexOffset="5" fxFlex="35">
          <div
            fxLayout="column"
            *ngIf="mouseOvers[i] && !isOpponent"
            fxLayoutAlign="center center"
            fxFill
          >
            <div
              fxFlex="33"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxFlexFill
            >
              <div class="stats" fxFlex="nogrow">
                <p>{{ createUnit(unitType).hp }}</p>
              </div>
              <div fxFlex="15">
                <mat-icon svgIcon="hp" class="stats-icon"></mat-icon>
              </div>

              <div fxFlexOffset="15" class="stats" fxFlex="nogrow">
                <p>{{ createUnit(unitType).vision }}</p>
              </div>
              <div fxFlex="15">
                <mat-icon svgIcon="vision" class="stats-icon"></mat-icon>
              </div>
            </div>

            <div
              fxFlex="33"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxFlexFill
            >
              <div class="stats" fxFlex="nogrow">
                <p>{{ createUnit(unitType).power }}</p>
              </div>
              <div fxFlex="15">
                <mat-icon svgIcon="power" class="stats-icon"></mat-icon>
              </div>

              <div fxFlexOffset="15" class="stats" fxFlex="nogrow">
                <p>{{ createUnit(unitType).range }}</p>
              </div>
              <div fxFlex="15">
                <mat-icon svgIcon="range" class="stats-icon"></mat-icon>
              </div>
            </div>

            <div
              fxFlex="33"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxFlexFill
            >
              <div class="stats" fxFlex="nogrow">
                <p>{{ createUnit(unitType).move }}</p>
              </div>
              <div fxFlex="15">
                <mat-icon svgIcon="move" class="stats-icon"></mat-icon>
              </div>

              <div fxFlexOffset="15" class="stats" fxFlex="nogrow">
                <p>{{ createUnit(unitType).stamina }}</p>
              </div>
              <div fxFlex="15">
                <mat-icon svgIcon="stamina" class="stats-icon"></mat-icon>
              </div>
            </div>
          </div>
          <!--------------------- Death count --------------------->
          <div
            fxLayout="column"
            *ngIf="
              (!mouseOvers[i] || isOpponent) &&
              ((gameStatus$ | async) === 'battle' ||
                (gameStatus$ | async) === 'finished')
            "
            fxLayoutAlign="center start"
            fxFill
          >
            <h4 class="death-count">
              <mat-icon svgIcon="cross" id="cross"></mat-icon>
              {{ getDeathCount(unitType) | async }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div
      fxFlex="20"
      fxFlexFill
      fxLayout="row"
      fxLayoutAlign="start start"
      *ngIf="(gameStatus$ | async) === 'unit creation'"
    >
      <div fxFlex="65" fxLayout="column" fxLayoutAlign="center center">
        <mat-divider fxFlex="50"></mat-divider>
        <h3 fxFlexOffset="20" fxFlex="30">
          {{ unitsValue$ | async }}/{{ maxTotalUnitValue }}
        </h3>
      </div>
    </div>
  </div>
</div>
