.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.unit-img {
  height: 100%;
  width: auto;
  background-image: var(--img);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mat-icon-button.small {
  width: 1.5vw;
  height: 1.5vw;
  line-height: 1.5vw;

  .mat-icon {
    font-size: 1.5vw;
    width: 1.5vw;
    height: 1.5vw;
    line-height: 1.5vw;
  }
}
.mat-divider {
  margin-top: 20px;
  border-top-color: black;
  height: 20px;
  width: 45px;
}

.stats-icon {
  font-size: 15px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  position: relative;
  top: 4px;
}

.stats {
  padding-right: 5px;
}
p {
  font-size: 17px;
}

.death-count {
  margin-bottom: 8px;
}

#cross {
  font-size: 23px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  position: relative;
  top: 5px;
}
