<mat-card>
  <div fxLayout="row" *ngIf="!isEditing; else editing">
    <h2 fxFlex="80" class="word-break">{{ (user$ | async).name }}</h2>
    <button
      mat-icon-button
      fxFlex="20"
      matTooltip="Edit"
      (click)="switchEditing()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <ng-template #editing>
    <form (ngSubmit)="onSubmit()">
      <div fxLayout="row">
        <h2 fxFlex="80" style="font-size: 3.5px;">
          <mat-form-field appearance="legacy" color="warn">
            <h2><input matInput type="text" [formControl]="name" /></h2>
          </mat-form-field>
        </h2>
        <button
          fxFlex="20"
          type="submit"
          mat-icon-button
          matTooltip="Save"
          color="warn"
          (click)="updateName(name.value); switchEditing()"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </ng-template>
  <mat-card-content>
    <p>Game played: {{ (user$ | async).gamePlayed.length }}</p>
    <p>Game won: {{ (user$ | async).gameWon }}</p>
  </mat-card-content>
</mat-card>
