<div [ngSwitch]="true" class="buttons">
  <!--------------------- WAITING ROOM --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'waiting'">
    <button mat-icon-button [routerLink]="'/home'" matTooltip="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </ng-container>
  <!--------------------- UNIT CREATION --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'unit creation'">
    <button
      mat-raised-button
      [disabled]="isPlayerReady$ | async"
      color="warn"
      (click)="setReady()"
    >
      <span>Ready</span>
      <mat-icon svgIcon="fight" class="margin-left"></mat-icon>
    </button>
  </ng-container>
  <!--------------------- PLACEMENT --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'placement'">
    <div>
      <button
        mat-raised-button
        [disabled]="isPlayerReady$ | async"
        color="warn"
        (click)="setReady()"
      >
        <span>Fight</span>
        <mat-icon svgIcon="fight" class="margin-left"></mat-icon>
      </button>
    </div>
  </ng-container>
  <!--------------------- BATTLE --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'battle'">
    <button mat-button fxFlex="20" (click)="skipTurn()">
      <span>Skip turn</span>
      <mat-icon svgIcon="camp" class="margin-left"></mat-icon>
    </button>

    <button mat-button fxFlexOffset="20" fxFlex="20" (click)="forfeit()">
      <span>Forfeit</span>
      <mat-icon svgIcon="flag" class="margin-left"></mat-icon>
    </button>
  </ng-container>

    <!--------------------- FINISHED --------------------->
    <ng-container *ngSwitchCase="(gameStatus$ | async) === 'finished'">
      <div>
        <button
          mat-raised-button
          color="warn"
          routerLink='/home'
        >
          <span>Home</span>
          <mat-icon class="margin-left">home</mat-icon>
        </button>
      </div>
    </ng-container>
</div>
