<div [ngSwitch]="true" class="buttons">
  <!--------------------- WAITING ROOM --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'waiting'">
    <button mat-icon-button [routerLink]="'/home'" matTooltip="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </ng-container>
  <!--------------------- UNIT CREATION --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'unit creation'">
    <div *ngIf="!(isPlayerReady$ | async); else cancel">
      <button
        mat-raised-button
        [disabled]="(isPlayerReady$ | async) || (unitCount$ | async) === 0"
        color="warn"
        (click)="setReady()"
      >
        <span>Ready</span>
        <mat-icon svgIcon="fight" class="margin-left"></mat-icon>
      </button>
    </div>
    <ng-template #cancel>
      <button
        mat-icon-button
        [disabled]="!(isPlayerReady$ | async)"
        (click)="cancelReady()"
        matTooltip="Cancel"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </ng-template>
  </ng-container>
  <!--------------------- PLACEMENT --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'placement'">
    <div>
      <button
        mat-raised-button
        [disabled]="isPlayerReady$ | async"
        color="warn"
        (click)="setReady()"
      >
        <span>Fight</span>
        <mat-icon svgIcon="fight" class="margin-left"></mat-icon>
      </button>
    </div>
  </ng-container>
  <!--------------------- BATTLE --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'battle'">
    <button class="width" mat-button fxFlex="20" (click)="skipTurn()">
      <span>Skip turn</span>
      <mat-icon svgIcon="camp" class="margin-left"></mat-icon>
    </button>

    <button class="width" mat-button fxFlex="20" (click)="confirmForfeit()">
      <span>Forfeit</span>
      <mat-icon svgIcon="flag" class="margin-left"></mat-icon>
    </button>
  </ng-container>

  <!--------------------- FINISHED --------------------->
  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'finished'">
    <button mat-raised-button routerLink="/home">
      <span>Home</span>
      <mat-icon class="margin-left">home</mat-icon>
    </button>

    <button
      [disabled]="isPlayerRematch$ | async"
      mat-raised-button
      color="warn"
      (click)="rematch()"
    >
      <span>Rematch</span>
      <mat-icon svgIcon="fight" class="margin-left"></mat-icon>
    </button>
  </ng-container>
</div>
