mat-card {
  height: 60%;
}
mat-card-content {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.active {
  font-weight: bold;
}
.passive {
  font-style: italic;
}
p {
  margin-top: 5px;
}
#date {
  font-style: normal;
  font-weight: normal;
}
