.message-board {
  height: 100px;
  overflow-y: scroll;
}
.active {
  font-weight: bold;
}
.passive {
  font-style: italic;
}
p {
  margin-top: 5px;
}
#date {
  font-style: normal;
  font-weight: normal;
}
