<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div fxFlex="20" fxFlexFill>
    <app-menu-top-bar></app-menu-top-bar>
  </div>
  <div fxFlex="65" fxLayout="column" fxLayoutAlign="center center">
    <h2>Create a game</h2>
    <app-game-form></app-game-form>
    <div fxFlex="20" fxFlexFill></div>
  </div>
  <div fxFlex="15" fxLayout="row" fxLayoutAlign="center start">
    <button mat-icon-button [routerLink]="'/home'" matTooltip="Back">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
  </div>
</div>
