<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div fxFlex="20" fxFlexFill>
    <app-menu-top-bar [subtitle]="'Create a game'"></app-menu-top-bar>
  </div>
  <div
    fxFlex="60"
    fxFlexOffset.lt-lg="20"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <app-game-form></app-game-form>
  </div>
  <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button [routerLink]="'/home'" matTooltip="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>
