<h1>War Rulebook</h1>

<mat-dialog-content>
  <h2>Objective</h2>
  <p>
    Victory is your objective. To get there, either:
    <li>wipe out your opponent's army</li>
    <li>get one of your battalion to your opponent's castle.</li>
  </p>
  <h2>Running of the game</h2>
  <p>
    One after another, you and your opponent will have 3 actions to play. An
    action is either a move or an attack.
    <br />
    A move is only possible if there is no other battalion on the arrival tile.
    If an opponent battalion is there, the action will be considered as an
    attack. An attack is possible within the range of the attacking battalion.
    After an attack, if the defensive battalion is still alive and within range,
    it will fight back. When a soldier or a knight kills a battalion, it moves
    to the attacked tile.
  </p>
  <h2>Army</h2>
  <p>
    At the beginning of a game, you compose your army and then position it
    around your castle. Units have 6 skills:
    <li>Attack determines their fight power</li>
    <li>Defense determines their health power</li>
    <li>Range determines the distance they need to attack</li>
    <li>Stamina determines their maximum moves per turn</li>
    <li>Vision determines how many tiles they see</li>
    <li>Move determines how many tiles they can reach</li>
  </p>
  <br />
  <p>
    Soldiers are slow and shortsighted but they are resilient. Musketeers have a
    better vision and range but they can't fight hand-to-hand. Knights are fast
    and good scoot. Cannons make heavy damages and are capable of long shoots.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button tabindex="-1" color="warn" (click)="openTuto()">
    Tuto
  </button>
  <button mat-button tabindex="-1" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
