<div [ngSwitch]="true">

  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'waiting'" class="center">
    <div class="title">
      <h1>WAITING FOR AN OPPONENT</h1>
      <p>Prepare yourself with the dino :)</p>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'unit creation'">
    <div class="title">
      <h1>CREATE YOUR ARMY</h1>
      <p>Be wise, your opponent is doing the same.</p>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'placement'" class="center">
    <div class="title">
      <h1>POSITION YOUR ARMY</h1>
      <p>Battle will start soon.</p>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'battle'">

      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="40" fxFlexFill></div>

        <div fxFlex="20" class="center">
          <ng-container *ngIf="(player$ | async).isActive; else unactive">
            <ng-container *ngIf="(player$ | async) as player">
              <h2>YOUR TURN</h2>
              <p [ngPlural]="actionsPerTurn - player.actionCount">
                <ng-template ngPluralCase="=1">You have {{actionsPerTurn - player.actionCount}} action left</ng-template>
                <ng-template ngPluralCase="other">You have {{actionsPerTurn - player.actionCount}} actions left</ng-template>
              </p>
            </ng-container>
          </ng-container>

          <ng-template #unactive>
            <ng-container *ngIf="(opponent$ | async) as opponent">
              <h2>OPPONENT'S TURN</h2>
              <p [ngPlural]="actionsPerTurn - opponent.actionCount">
                <ng-template ngPluralCase="=1">Opponent has {{actionsPerTurn - opponent.actionCount}} action left</ng-template>
                <ng-template ngPluralCase="other">Opponent has {{actionsPerTurn - opponent.actionCount}} actions left</ng-template>
              </p>
            </ng-container>
          </ng-template>
        </div>

        <div fxFlex="5" fxFlexFill></div>

        <div fxFlex="30" class="messages">
          <app-message-board></app-message-board>
        </div>

      </div>

  </ng-container>

  <ng-container *ngSwitchCase="(gameStatus$ | async) === 'finished'">

    <ng-container *ngIf="(player$ | async).isVictorious; else defeat">
      <div class="title">
        <h1>VICTORY</h1>
        <p>Well done, General.</p>
      </div>
    </ng-container>

    <ng-template #defeat>
      <div class="title">
        <h1>DEFEAT</h1>
        <p>Try again.</p>
      </div>
    </ng-template>

  </ng-container>

</div>
