<div fxLayout="column" fxLayoutAlign="center" fxFlexFill>
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="end center">
    <button mat-icon-button (click)="auth.signOut()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
  <div fxFlex="80" fxLayout="row" fxLayoutAlign="start end" fxFlexFill>
    <div fxFlexOffset="45" fxFlex="10">
      <h1 class="war"><a href="/home">WAR</a></h1>
    </div>
    <div *ngIf="(gameStatus$ | async) === 'battle'" fxFlexFill fxFlexOffset="15" fxFlex="25">
      <app-message-board fxFlexFill></app-message-board>
    </div>
  </div>
</div>
