<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <!------------------ HEADER -------------------->
  <div fxFlex="20" fxFlexFill>
    <app-menu-top-bar></app-menu-top-bar>
  </div>

  <!------------------ PROFILE -------------------->
  <div fxFlex="45" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div fxFlex="nogrow">
      <app-profile></app-profile>
    </div>
  </div>

  <!------------------ BOTTOM -------------------->
  <div fxFlex="35" fxFlexFill fxLayout="column" fxLayoutAlign="center center">

    <!------------ CROWN -------------->
    <div fxFlex="20">
      <button class="crown-button" mat-icon-button [routerLink]="'/champions'">
        <mat-icon class="crown" svgIcon="crown"></mat-icon>
      </button>
    </div>

    <!------------ JOIN & CREATE -------------->
    <div fxFlex="80" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
      <button
        fxFlexOffset="30"
        fxFlex="15"
        fxFlexOffset.lt-md="10"
        fxFlex.lt-md="35"
        mat-raised-button
        color="warn"
        [routerLink]="'/games'"
      >
        <span>Join</span>
        <mat-icon svgIcon="shield" class="margin-left"></mat-icon>
      </button>
      <button
        fxFlexOffset="10"
        fxFlex="15"
        fxFlex.lt-md="35"
        mat-raised-button
        color="warn"
        [routerLink]="'/create'"
      >
        <span>Create</span>
        <mat-icon svgIcon="castle" class="margin-left"></mat-icon>
      </button>
      <div fxFlex></div>
    </div>
  </div>
</div>
