<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <!------------------ PROFILE -------------------->
  <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div fxFlex="nogrow">
      <app-profile></app-profile>
    </div>
  </div>

  <!------------------ BOTTOM -------------------->
  <div fxFlex="50" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <!------------ PLAY NOW -------------->
    <div fxFlex="20" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
      <button
        fxFlex="15"
        fxFlex.lt-md="35"
        mat-raised-button
        color="warn"
        (click)="playNow()"
      >
        <span>Play now</span>
        <mat-icon svgIcon="sword" class="margin-left"></mat-icon>
      </button>
    </div>
    <!------------ CROWN -------------->
    <div fxFlex="20" fxFlexOffset.xs="5" fxFlexOffset="2.5">
      <button class="crown-button" mat-icon-button [routerLink]="'/champions'">
        <mat-icon class="crown" svgIcon="crown"></mat-icon>
      </button>
    </div>

    <!------------ JOIN & CREATE -------------->

    <div
      fxFlex="20"
      fxFlexOffset.xs="5"
      fxFlexOffset="2.5"
      fxFlexFill
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button
        fxFlexOffset="30"
        fxFlex="15"
        fxFlexOffset.lt-md="10"
        fxFlex.lt-md="35"
        mat-raised-button
        [routerLink]="'/games'"
      >
        <span>Join</span>
        <mat-icon class="green-icon" svgIcon="shield" class="margin-left"></mat-icon>
      </button>
      <button
        fxFlexOffset="10"
        fxFlex="15"
        fxFlex.lt-md="35"
        mat-raised-button
        [routerLink]="'/create'"
      >
        <span>Create</span>
        <mat-icon svgIcon="castle" class="margin-left"></mat-icon>
      </button>
      <div fxFlex></div>
    </div>
    <div fxFlex></div>
  </div>
</div>
