<div fxLayout="column" fxLayoutAlign="center" class="container">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="container">
    <!--------------------------WHITE PLAYER BOARD------------------------------------->
    <div fxFlexOffset="2.5" fxFlex="15" class="player-container">
      <app-player-board
        [player$]="whitePlayer$"
        [isOpponent]="isWhiteOpponent"
      ></app-player-board>
    </div>
    <!--------------------------BOARD------------------------------------->
    <mat-card fxFlexOffset="2.5" fxFlex="60" class="container">
      <mat-card-content class="container">
        <mat-grid-list
          class="container"
          cols="{{ boardSize }}"
          gutterSize="1px"
          rowHeight="fit"
        >
          <mat-grid-tile
            *ngFor="let tile of tiles$ | async; let i = index"
            [ngClass]="{ finished: (gameStatus$ | async) === 'finished' }"
          >
            <!--------------------------CASTLE------------------------------------->
            <div
              *ngIf="castleIds.includes(i); else unit"
              class="container"
              style="--img: url('assets/img/{{ castle.color }}_castle.png');"
              (click)="play(i)"
              [ngClass]="{
                castle: i === castle.tileId,
                invisible: (i === opponentCastle.tileId && !(visibleTileIds$ | async).includes(i)),
                reachable: (i === opponentCastle.tileId && tile.isReachable),
                opponentCastle: i === opponentCastle.tileId
              }"
            >

            </div>

            <!--------------------------UNIT------------------------------------->
            <ng-template #unit>
              <div
                *ngIf="(unitTileIds$ | async).includes(i); else opponentUnit"
                (click)="play(i)"
                class="container unit-ground"
              >
                <div class="ground">
                  <img
                    fxFlexFill
                    src="assets/img/grass.jpg"
                    [ngClass]="{
                      reachable: tile.isReachable,
                      selected: tile.isSelected,
                      withinRange: tile.withinRange
                    }"
                  />
                </div>
                <div class="unit">
                  <img
                    class="img-unit"
                    src="assets/img/{{ getUnitByTileId(i).color }}_{{
                      getUnitByTileId(i).type
                    }}.png"
                  />
                </div>
                <span
                  class="unit-quantity"
                  [ngClass]="{
                    white: getUnitByTileId(i).color === 'white',
                    black: getUnitByTileId(i).color === 'black'
                  }"
                  >{{ getUnitByTileId(i).quantity }}</span
                >
              </div>
            </ng-template>

            <!--------------------------OPPONENT UNIT------------------------------------->
            <ng-template #opponentUnit>
              <div
                *ngIf="
                  (visibleOpponentUnitTileIds$ | async).includes(i);
                  else ground
                "
                (click)="play(i)"
                class="container"
                [ngClass]="{
                  reachable: tile.isReachable,
                  withinRange: tile.withinRange
                }"
              >
                <div class="unit">
                  <img
                    class="img-unit"
                    src="assets/img/{{ getOpponentUnitByTileId(i).color }}_{{
                      getOpponentUnitByTileId(i).type
                    }}.png"
                  />
                </div>
                <span
                  class="unit-quantity"
                  [ngClass]="{
                    white: getOpponentUnitByTileId(i).color === 'white',
                    black: getOpponentUnitByTileId(i).color === 'black'
                  }"
                  >{{ getOpponentUnitByTileId(i).quantity }}</span
                >
              </div>
            </ng-template>

            <!--------------------------GROUND------------------------------------->
            <ng-template #ground>
              <div
                (click)="play(i)"
                class="container"
                [ngClass]="{
                  invisible: !(visibleTileIds$ | async).includes(i),
                  reachable: tile.isReachable,
                  selected: tile.isSelected,
                  withinRange: tile.withinRange
                }"
              ></div>
            </ng-template>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <!--------------------------BLACK PLAYER BOARD------------------------------------->
    <div fxFlexOffset="2.5" fxFlex="15" class="player-container">
      <app-player-board
        [player$]="blackPlayer$"
        [isOpponent]="isBlackOpponent"
      ></app-player-board>
    </div>
  </div>
</div>
