.messages {
  max-height: 60px;
  min-width: 100%;
}
.text-centered {
  text-align: center;
}
mat-grid-tile {
  background-image: url("/assets/img/grass.jpg");
  background-size: cover;
  z-index: 0;
}

.unit {
  z-index: 1;
  background-image: var(--img);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.playerUnit {
  cursor: pointer;
}
.playerUnit:hover {
  filter: brightness(92%);
}

.unit-quantity {
  position: absolute;
  z-index: 2;
  bottom: 0%;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 0.9;
  font-size: 11px;
}
.white {
  background-color: white;
  left: 0%;
  -webkit-transform: translateX(-0%);
  transform: translateX(-0%);

}
.black {
  color: white;
  background-color: black;
  right: 0%;
  -webkit-transform: translateX(-0%);
  transform: translateX(-0%);
}

.invisible {
  background-color: rgba(31, 30, 30, 0.5);
  z-index: 1;
}

.selected {
  filter: brightness(125%);
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.8;
  }
}

.reachable {
  z-index: 2;
  background-color: rgb(45, 45, 255, 0.5);
  cursor: pointer;
}
.reachable:hover {
  opacity: 0.5;
}

.withinRange {
  z-index: 2;
  background-color: rgb(129, 51, 48, 0.7);
  cursor: url("/assets/img/sword.png") 25 15, pointer;
}
.withinRange:hover {
  background-color: rgb(129, 51, 48, 0.9);
}

.finished {
  filter: brightness(70%);
}

.menu-button {
  z-index: 2;
  right: 15px;
  bottom: 15px;
  position: absolute;
}
