<div fxLayout="column" fxLayoutAlign="center" class="container">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="container">
    <!--------------------------WHITE PLAYER BOARD------------------------------------->
    <div fxHide.lt-md fxFlexOffset="2.5" fxFlex="15" class="player-container">
      <app-player-board
        [player$]="whitePlayer$"
        [isOpponent]="isWhiteOpponent"
      ></app-player-board>
    </div>
    <!--------------------------BOARD------------------------------------->
    <mat-card fxFlexOffset="2.5" fxFlex="60" class="container">
      <mat-card-content class="container">
        <mat-grid-list
          class="container"
          cols="{{ boardSize }}"
          gutterSize="1px"
          rowHeight="fit"
        >
          <mat-grid-tile
            *ngFor="let tile of tiles$ | async; let i = index"
            [ngClass]="{ finished: (gameStatus$ | async) === 'finished' }"
          >
            <div
              (click)="play(i)"
              class="container"
              style="--img: url({{ getUnitImgUrl(i) }});"
              [ngClass]="{
                invisible: !(visibleTileIds$ | async).includes(i),
                reachable: tile.isReachable,
                selected: tile.isSelected,
                withinRange: tile.withinRange,
                unit:
                  castleIds.includes(i) ||
                  (unitTileIds$ | async).includes(i) ||
                  (visibleOpponentUnitTileIds$ | async).includes(i),
                playerUnit: (unitTileIds$ | async).includes(i)
              }"
            >
              <div
                *ngIf="
                  (unitTileIds$ | async).includes(i) ||
                  (visibleOpponentUnitTileIds$ | async).includes(i)
                "
              >
                <span
                  class="unit-quantity"
                  [ngClass]="{
                    white: getUnitByTileId(i)
                      ? getUnitByTileId(i).color === 'white'
                      : getOpponentUnitByTileId(i).color === 'white',
                    black: getUnitByTileId(i)
                      ? getUnitByTileId(i).color === 'black'
                      : getOpponentUnitByTileId(i).color === 'black'
                  }"
                  >{{
                    getUnitByTileId(i)
                      ? getUnitByTileId(i).quantity
                      : getOpponentUnitByTileId(i).quantity
                  }}</span
                >
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <!--------------------------BLACK PLAYER BOARD------------------------------------->
    <div fxHide.lt-md fxFlexOffset="2.5" fxFlex="15" class="player-container">
      <app-player-board
        [player$]="blackPlayer$"
        [isOpponent]="isBlackOpponent"
      ></app-player-board>
    </div>
  </div>
</div>
