<div *ngIf="(gameStatus$ | async) === 'unit creation'; else board"
  class="container" fxLayout="column wrap" fxLayoutAlign="center center">

  <div fxFlex="20" fxLayout="column wrap" fxLayoutAlign="center center">
    <app-top-bar></app-top-bar>
  </div>

  <div fxFlex="70" fxFill>

    <div class="container" fxLayout="row" fxLayoutAlign="start none">

      <div fxFlex="20">
        <app-unit-board></app-unit-board>
      </div>

      <div fxFlex="80" *ngIf="(gameStatus$ | async) === 'unit creation'; else board">
        <app-unit-creation></app-unit-creation>
      </div>

    </div>
  </div>

  <div fxFlex="10"  fxLayoutAlign="start start">
    <app-bottom-bar></app-bottom-bar>
  </div>

</div>

<ng-template #board>

  <app-board></app-board>

</ng-template>
