<mat-card fxLayout="row wrap">
  <mat-card-title class="title" fxFlex="100">
    <h3>Graveyard</h3>
  </mat-card-title>

  <mat-card-content fxFlex="100" class="wrapper">
    <mat-grid-list
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      cols="{{ cols }}"
      gutterSize="0"
      class="grid"
    >
      <mat-grid-tile fxFlex="10" *ngFor="let unit of deadUnits$ | async">
        <div class="unit">
          <img
            fxFlexFill
            src="assets/img/{{ unit.color }}_{{ unit.type }}.png"
          />
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
