.game-list {
  margin: 5px;
}

.table-container {
  width: 400px;
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
.row-hover:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}
