<h2>Create a game</h2>
<form (ngSubmit)="onSubmit()" #gameForm="ngForm">
  <div>
    <mat-form-field appearance="legacy" color="warn">
      <mat-label id="text">Game name</mat-label>
      <input matInput id="text" type="text" name="name" required [(ngModel)]="game.name">
    </mat-form-field>
    <button
    type="button"
    [disabled]="!gameForm.form.valid"
    mat-button
    color="warn"
    (keyup.enter)="createNewGame()"
    (click)="createNewGame(); gameForm.reset()">
      <mat-icon>create</mat-icon>
      <span>Create</span>
    </button>
  </div>
</form>
