<form (ngSubmit)="onSubmit()" #gameForm="ngForm">
  <div>
    <mat-form-field appearance="legacy" color="warn">
      <mat-label class="form-text">Enter a name</mat-label>
      <input
        matInput
        id="form-text"
        type="text"
        name="name"
        required
        [(ngModel)]="game.name"
      />
    </mat-form-field>
    <button
      type="submit"
      [disabled]="!gameForm.form.valid"
      mat-button
      color="warn"
      matTooltip="Create"
      (click)="this.createNewGame(); gameForm.reset()"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</form>
