<div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="75" fxFlex.xs="95" fxFill fxLayout.xs="column">
    <div fxFlex="10" fxFlexFill fxHide.gt-xs="true"></div>
    <div fxLayout="column" fxFlex fxFill fxLayoutAlign="start center">
      <div fxFlex="20" fxFill *ngFor="let unitType of unitTypes">
        <mat-grid-list
          fxFlexFill
          cols="{{ cols }}"
          gutterSize="0"
          rowHeight="fit"
        >
          <mat-grid-tile
            *ngFor="let unit of selectUnitByType(unitType) | async"
          >
            <img fxFlexFill src="assets/img/black_{{ unitType }}.png" />
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
