<div class="container" fxLayout="column wrap" fxLayoutAlign="center center">

  <div fxFlex="20" fxLayout="column wrap" fxLayoutAlign="center center">
    <h1>CREATE YOUR ARMY</h1>
    <p>Be wise, your opponent is doing the same.</p>
  </div>

  <div fxFlex="70" fxFill>
    <div fxLayout="column" fxFill fxLayoutAlign="start center">

      <div fxFlex="25" fxFill *ngFor="let unitType of unitTypes">

        <mat-grid-list fxFlexFill cols="{{cols}}" gutterSize="0" rowHeight="fit">

          <div *ngIf="(selectUnitTiles(unitType) | async) as unitTiles">
            <mat-grid-tile *ngFor="let tile of unitTiles; let i = index;">
              <img fxFlexFill src="assets/img/{{unitType}}.png">
            </mat-grid-tile>
          </div>

        </mat-grid-list>

      </div>

    </div>
  </div>

  <div fxFlex="10"  fxLayoutAlign="center center">
    <button mat-raised-button color="warn" (click)="start()">
      <span>Fight</span>
      <mat-icon svgIcon="fight" style="margin-left: 5px;"></mat-icon>
    </button>
  </div>

</div>

