<div [ngSwitch]="step">
  <!------------------ WELCOME -------------------->
  <div *ngSwitchCase="'welcome'">
    <div>
      <h3>Welcome to War!</h3>
    </div>

    <p>
      War is a simple strategic game. This is a tutorial to explain you the
      rules. You can skip it and open it later through the "Rules" button.
    </p>

    <button mat-button (click)="switchStep('win')">Next</button>
  </div>

  <!------------------ WIN -------------------->
  <div *ngSwitchCase="'win'">
    <div>
      <h3>Win</h3>
    </div>

    <p>
      War is a simple strategic game. This is a tutorial to explain you the
      rules. You can skip it and open it later through the "Rules" button.
    </p>

    <button mat-button>Next</button>
  </div>
</div>
