.padding-top {
  padding-top: 14px;
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.caste-win-gif {
  background-image: url("/assets/gif/win_castle_optimized.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.unit-win-gif {
  background-image: url("/assets/gif/win_unit_optimized.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
