.padding-top {
  padding-top: 14px;
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.caste-win-gif {
  background-image: url("/assets/gif/castle_win.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
