@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
  font-family: 'Viaoda Libre', cursive;
  font-size: calc(2rem + 6vmin);
  font-weight: normal;
}
h2 {
  margin: 0;
  font-family: 'Viaoda Libre', cursive;
  font-size: calc(1.5rem + 3.5vmin);
  font-weight: normal;
}
h3 {
  margin: 0;
  font-family: 'Viaoda Libre', cursive;
  font-size: calc(1rem + 2.5vmin);
  font-weight: normal;
}
h4 {
  margin: 0;
  font-family: 'Viaoda Libre', cursive;
  font-size: calc(1.2rem + 0.5vmin);
  font-weight: normal;
}
p {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: normal;
}
span {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

